{% extends "base.html" %}

{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form id="login-form" class="well form-horizontal"
            action="{{ url_for('login') }}" method=post>
        <fieldset>
            <legend>Login</legend>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Login"/>
                    <a class="btn cancel" href="{{ url_for('index') }}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}